@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=New+Rocker&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

/* font-family: 'MedievalSharp', cursive;
font-family: 'New Rocker', cursive;
font-family: 'Open Sans', sans-serif; */

:root {
    --black: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 98%);
    --red: hsl(358, 87%, 33%);
    --blue: hsl(221, 73%, 59%);
    --yellow: hsl(44, 100%, 50%);
    --gray: hsl(0, 0.9%, 58%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

section {
    padding-top: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
}

.medieval {
    font-family: 'MedievalSharp', cursive;
}

.rocker {
    font-family: 'New Rocker', cursive;
}

.open {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 80vw;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: var(--red);
}

h2 {
    font-family: 'New Rocker', cursive;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* Navigation */

.nav-bar {
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 69px;
    padding: 0;
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--red);
}

.nav-link {
    list-style: none;
    padding: 1rem 0;
}

.nav-link a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    padding: 1.45rem 1rem;
    font-weight: 700;
    transition: all 0.75s ease-out;
}

.nav-link a:hover {
    background-color: var(--black);
}

.nav-link a:active {
    color: var(--yellow);
}

.logo {
    color: var(--white);
    font-family: 'New Rocker', cursive;
    font-size: 1.7rem;
}

.logo a {
    padding: 2rem 1rem;
}

.mobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

/* Main */

main {
    position: relative;
    top: 0rem;
}

/* What section */

.what {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.d-n-d {
    font-size: 1.5rem;
}

.what-content {
    margin-top: 0;
}

.what-images {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.img-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: 25rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    background-color: var(--yellow);
    box-shadow: 2px 2px 5px var(--gray);
}

.img-container img {
    width: 90%;
}

/* Who section */

.member-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    min-width: 18rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .member-container {
        min-width: 10rem;
        max-width: 18rem;
    }    
}

.member-container h4 {
    margin-bottom: 0.25rem;
}

.member-container p {
    margin-top: 0;
}



/* Where section */

.where {
    gap: 2rem;
}

.location {
    align-items: flex-start;
    justify-content: center;
    max-width: 30rem;
    flex-flow: column;
}

.location-text {
    flex: 1;
}

@media screen and (max-width: 450px) {
    .where {
        padding: 0;
    }
}


/* When section */

.when {
    gap: 2rem;
}

.meeting-box {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    max-width: 18rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background-color: var(--yellow);
    box-shadow: 2px 2px 5px var(--gray);
}

.meeting-type {
    font-size: 1.25rem;
}

.date, .time {
    opacity: 75%;
}


/* Info section */

.info {
    display: grid;
    gap: 1rem 2rem;
    grid-template-areas: "a b" "c d";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

@media screen and (max-width: 768px) {
    .info {
        grid-template-areas: "a" "c" "b" "d";
        grid-template-rows: 0.65fr 2fr 0.65fr 3fr;
        grid-template-columns: 1fr;
    }
}

.join,
.form {
    flex: 1;
    min-width: 20rem;
}

.top-line {
    margin-top: 0;
    line-height: 1.25;
}

.join-item {
    list-style: "\1F3B2  ";
}

.form {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}


.form-input {
    width: 100%;
    border: none;
    line-height: 2;
    box-shadow: 2px 2px 5px var(--gray);
}


.btn {
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    width: 100%;
    font-weight: 700;
    transition: all 0.75s ease-out;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--black);
}

.btn:active {
    color: var(--yellow);
}

/* Footer */

footer {
    color: var(--white);
    background-color: var(--red);
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot {
    padding: 0.75rem;
    margin: 0;
    font-size: 0.8rem;
}